<%= form_with url: url_for(params.permit!.except(:q)), method: :get, data: { turbo_frame: "_top", controller: "filter-form", action: "reset->filter-form#handleReset" } do |form| %>
  <% non_filter_ransack_params.each do |k,v| %>
    <%= form.hidden_field k, value: v %>
  <% end %>
  <% AhoyCaptain.config.filter_collection.each do |name, filters| %>
    <%= render AhoyCaptain::Filter::ModalComponent.new(title: "Filter by #{name}", id: "#{filters.modal_name}") do |modal| %>
      <% modal.with_modal_display do %>
        <% filters.each do |filter| %>
        <%= render AhoyCaptain::Filter::SelectComponent.new(label: filter.label, column: filter.column, url: public_send(filter.url), predicates: filter.predicates, multiple: filter.multiple, form: form) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>


  <%= render AhoyCaptain::Filter::ModalComponent.new(title: "Custom Range", id: "customRangeModal") do |modal| %>
    <% modal.with_modal_display do %>
      <div class="flex gap-2 w-full">
        <div class="form-control w-full max-w-xs">
          <label class="label" for="start_date">
            <span class="label-text">Start Date</span>
          </label>
          <input type="datetime-local" id="start_date" name="start_date" class="input input-bordered w-full" value="<%= params[:start_date] %>" />
        </div>
        <div class="form-control w-full max-w-xs">
          <label class="label" for="end_date">
            <span class="label-text">End Date</span>
          </label>
          <input type="datetime-local" id="end_date" name="end_date" class="input input-bordered w-full" value="<%= params[:end_date] %>" />
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
