<%= form_with url: url_for(params.permit!.except(:q)), method: :get, data: { turbo_frame: "_top", controller: "filter-form", action: "reset->filter-form#handleReset" } do |form| %>
  <% non_filter_ransack_params.each do |k,v| %>
    <%= form.hidden_field k, value: v %>
  <% end %>
  <% AhoyCaptain.config.filters.each do |name, filters| %>
    <%= render AhoyCaptain::Filter::ModalComponent.new(title: "Filter by #{name}", id: "#{filters.modal_name}") do |modal| %>
      <% modal.with_modal_display do %>
        <% filters.each do |filter| %>
          <%= render AhoyCaptain::Filter::SelectComponent.new(label: filter.label, column: filter.column, url: public_send(filter.url), predicates: filter.predicates, multiple: filter.multiple, form: form) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%= render AhoyCaptain::Filter::ModalComponent.new(title: "Filter by Custom Property", id: "customPropertyFilterModal") do |modal| %>
    <% modal.with_modal_display do %>
      <div data-controller="property-filter">
        <fieldset class="flex space-x-4 items-end">
          <% if current_property_filter %>
            <%= render ::AhoyCaptain::ComboboxComponent.new(name: "", multiple: false, column: "", url: filters_properties_names_path, value: [current_property_filter[:key].delete_prefix("properties.")], select_html: { "data-property-filter-target" => 'name', id: "property-name" }) %>
          <% else %>
            <%= render ::AhoyCaptain::ComboboxComponent.new(name: "", multiple: false, column: "", url: filters_properties_names_path, select_html: { "data-property-filter-target" => 'name', id: "property-name" } ) %>
          <% end %>

          <div class="flex flex-col w-[20%]">
            <select class='select select-primary bg-gray-900 ring-0  focus-within:ring-0 focus-within:ring-0 focus:ring-0 focus:outline-none inline-flex justify-between items-center w-full rounded-md border px-4 py-2 text-sm'>
              <option value="in">in</option>
            </select>
          </div>

          <% if current_property_filter %>
            <%= render ::AhoyCaptain::ComboboxComponent.new(name: "q[#{current_property_filter[:key]}_in]", multiple: false, column: "", url: filters_properties_values_path, value: [current_property_filter[:value]], select_html: { "data-property-filter-target" => 'value', id: "property-value" } ) %>
          <% else %>
            <%= render ::AhoyCaptain::ComboboxComponent.new(name: "", multiple: false, column: "", url: filters_properties_values_path, select_html: { "data-property-filter-target" => 'value', id: "property-value" }, disabled: true) %>
          <% end %>

        </fieldset>

      </div>
    <% end %>
  <% end %>

  <%= render AhoyCaptain::Filter::ModalComponent.new(title: "Custom Range", id: "customRangeModal") do |modal| %>
    <% modal.with_modal_display do %>
      <div class="flex gap-2 w-full">
        <div class="form-control w-full max-w-xs">
          <label class="label" for="start_date">
            <span class="label-text">Start Date</span>
          </label>
          <input type="datetime-local" id="start_date" name="start_date" class="input input-bordered w-full" value="<%= params[:start_date] %>" />
        </div>
        <div class="form-control w-full max-w-xs">
          <label class="label" for="end_date">
            <span class="label-text">End Date</span>
          </label>
          <input type="datetime-local" id="end_date" name="end_date" class="input input-bordered w-full" value="<%= params[:end_date] %>" />
        </div>
      </div>
    <% end %>
  <% end %>

  <%= render AhoyCaptain::Filter::ModalComponent.new(title: "Custom Comparison", id: "customComparisonModal") do |modal| %>
    <% modal.with_modal_display do %>
      <div class="flex gap-2 w-full">
        <div class="form-control w-full max-w-xs">
          <label class="label" for="start_date">
            <span class="label-text">Start Date</span>
          </label>
          <input type="datetime-local" id="start_date" name="compare_to_start_date" class="input input-bordered w-full" value="<%= params[:compare_to_start_date] %>" />
        </div>
        <div class="form-control w-full max-w-xs">
          <label class="label" for="end_date">
            <span class="label-text">End Date</span>
          </label>
          <input type="datetime-local" id="end_date" name="compare_to_end_date" class="input input-bordered w-full" value="<%= params[:compare_to_end_date] %>" />
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
