<main class='bg-base-300 min-h-screen'>
  <div class="flex flex-row-reverse col-span-2 max-w-6xl mx-auto">
    <%= render AhoyCaptain::DropdownButtonComponent.new(title: 'Filter') do |dropdown| %>
      <% dropdown.with_header_icon do %>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" class="-ml-1 mr-1 h-4 w-4 md:h-4 md:w-4">
          <path fill-rule="evenodd" d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z" clip-rule="evenodd"></path>
        </svg>
      <% end %>
      <% dropdown.with_option do %>
        <button onClick="pageModal.showModal()" class='link no-underline'>Page</button>
        <button onClick="countryModal.showModal()" class='link no-underline'>Geography</button>
      <% end %>
    <% end %>
  </div>

  <div class="grid grid-cols-1 lg:grid-cols-2 grid-flow-row gap-4 max-w-6xl mx-auto">

    <%= render AhoyCaptain::TileComponent.new(title: 'Top Sources') do |component| %>
      <% component.with_display_links do %>
        <a href="<%= sources_path(search_params) %>" data-turbo-frame="sources" class='link link-primary'>All</a>
        <%= render AhoyCaptain::DropdownLinkComponent.new(title: "Campaign") do |dropdown| %>
          <% %w{utm_source utm_medium utm_term utm_content utm_campaign}.each do |source| %>
            <% dropdown.with_option do %>
              <a href="<%= public_send("campaign_#{source}_path".to_sym, **search_params) %>" data-turbo-frame="sources">
                <%= source.titleize.gsub("Utm", "UTM") %>
              </a>
            <% end %>    
          <% end %>    
        <% end %>
      <% end %>
      <% component.with_statistic_display do %>
        <%= turbo_frame_tag :sources, src: sources_path(search_params) %>
      <% end %>
      <% component.with_details_cta do %>
      <% end %>
    <% end %>

    <%= render AhoyCaptain::TileComponent.new(title: 'Top Pages') do |component| %>
      <% component.with_display_links do %>
        <a href="<%= top_pages_path(search_params) %>" data-turbo-frame="pages" class="link link-primary">Top Pages</a>
        <a href="<%= entry_pages_path(search_params) %>" data-turbo-frame="pages" class="link link-primary">Entry Pages</a>
        <a href="<%= exit_pages_path(search_params) %>" data-turbo-frame="pages" class="link link-primary">Exit Pages</a>
      <% end %>
      <% component.with_statistic_display do %>
        <%= turbo_frame_tag :pages, src: top_pages_path(search_params) %>
      <% end %>
      <% component.with_details_cta do %>
      <% end %>
    <% end %>

    <%= render AhoyCaptain::TileComponent.new(title: 'Countries') do |component| %>
      <% component.with_display_links do %>
        <a href="<%= countries_path(search_params) %>" data-turbo-frame="geography" class="link link-primary">Countries</a>
        <a href="<%= regions_path(search_params) %>" data-turbo-frame="geography" class="link link-primary">Regions</a>
        <a href="<%= cities_path(search_params) %>" data-turbo-frame="geography" class="link link-primary">Cities</a>
      <% end %>
      <% component.with_statistic_display do %>
        <%= turbo_frame_tag :geography, src: countries_path(search_params) %>
      <% end %>
      <% component.with_details_cta do %>
      <% end %>
    <% end %>

    <%= render AhoyCaptain::TileComponent.new(title: 'Devices') do |component| %>
      <% component.with_display_links do %>
        <a href="<%= devices_browsers_path(search_params) %>" data-turbo-frame="devices" class="link link-primary">Browser</a>
        <a href="<%= devices_operating_systems_path(search_params) %>" data-turbo-frame="devices" class="link link-primary">OS</a>
        <a href="<%= devices_device_types_path(search_params) %>" data-turbo-frame="devices" class="link link-primary">Size</a>
      <% end %>
      <% component.with_statistic_display do %>
        <%= turbo_frame_tag :devices, src: devices_browsers_path(search_params) %>
      <% end %>
      <% component.with_details_cta do %>
      <% end %>
    <% end %>
  </div>
  <dialog id="pageModal" class="modal">
    <form method="dialog" class="modal-box w-11/12 max-w-5xl">
      <fieldset data-controller='filter'>
        <h5>Filter by Page</h5>
        <%= render AhoyCaptain::FilterComponent.new(label: "Action", column: :route, url: "filters/pages/actions", predicates: [:in, :not_in]) %>
        <%= render AhoyCaptain::FilterComponent.new(label: "Entry page", column: :entry_page, url: "filters/pages/entry_pages", predicates: [:in, :not_in]) %>
        <%= render AhoyCaptain::FilterComponent.new(label: "Exit page", column: :exit_page, url: "filters/pages/exit_pages", predicates: [:in, :not_in]) %>
        
        <form method="dialog" class="modal-backdrop">
          <button>close</button>
        </form>
      </fieldset>
    </form>
  </dialog>
</main>


<dialog id="countryModal" class="modal">
  <form method="dialog" class="modal-box w-11/12 max-w-5xl">
    <fieldset data-controller='filter'>
      <h5>Filter by Country</h5>
      <%= render AhoyCaptain::FilterComponent.new(label: "Country", column: :country, url: "filters/locations/countries", predicates: [:in, :not_in]) %>
      <%= render AhoyCaptain::FilterComponent.new(label: "Region", column: :region, url: "filters/locations/regions", predicates: [:in, :not_in]) %>
      <%= render AhoyCaptain::FilterComponent.new(label: "City", column: :city, url: "filters/locations/cities", predicates: [:in, :not_in]) %>
      <form method="dialog" class="modal-backdrop">
        <button class="btn btn-primary mt-4" >Apply</button>
        <button class="btn btn-secondary mt-4">Close</button>
      </form>
    </fieldset>
  </form>
</dialog>