<main class='bg-base-300 min-h-screen pb-4 max-w-6xl mx-auto'>
  <%= render AhoyCaptain::StickyNavComponent.new do |nav| %>
    <% nav.with_realtime_update do %>
      <%= turbo_frame_tag :realtime, src: realtime_path, data: { controller:  "realtime" } %>
    <% end %>
  <% end %>

  <div class="grid grid-cols-1 lg:grid-cols-2 grid-flow-row gap-4">
    <%= render AhoyCaptain::TileComponent.new(wide: true) do |component| %>
      <% component.with_statistic_display do %>
        <%= turbo_frame_tag :stats, src: stats_path(search_params) %>
      <% end %>
    <% end %>

    <%= render AhoyCaptain::TileComponent.new(title: 'Top Sources') do |component| %>
      <% component.with_display_links do %>
        <a href="<%= sources_path(search_params) %>" data-turbo-action="advance" data-turbo-frame="sources" class='link link-primary'>All</a>
        <%= render AhoyCaptain::DropdownLinkComponent.new(title: "Campaign") do |dropdown| %>
          <% %w{utm_source utm_medium utm_term utm_content utm_campaign}.each do |source| %>
            <% dropdown.with_option do %>
              <a href="<%= public_send("campaign_#{source}_path".to_sym, **search_params) %>" data-turbo-action="advance" data-turbo-frame="sources">
                <%= source.titleize.gsub("Utm", "UTM") %>
              </a>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
      <% component.with_statistic_display do %>
        <%= turbo_frame_tag :sources, src: sources_path(search_params) %>
      <% end %>
      <% component.with_details_cta do %>
        <button data-action="click->details-modal#openModal" data-controller="details-modal" data-details-modal-target-value="#sources" class="link no-underline">Details</button>
      <% end %>
    <% end %>

    <%= render AhoyCaptain::TileComponent.new(title: 'Top Pages') do |component| %>
      <% component.with_display_links do %>
        <a href="<%= top_pages_path(search_params) %>" data-turbo-action="advance" data-turbo-frame="pages" class="link link-primary">Top Pages</a>
        <a href="<%= entry_pages_path(search_params) %>" data-turbo-action="advance" data-turbo-frame="pages" class="link link-primary">Entry Pages</a>
        <a href="<%= exit_pages_path(search_params) %>" data-turbo-action="advance" data-turbo-frame="pages" class="link link-primary">Exit Pages</a>
      <% end %>
      <% component.with_statistic_display do %>
        <%= turbo_frame_tag :pages, src: top_pages_path(search_params) %>
      <% end %>
      <% component.with_details_cta do %>
        <button data-action="click->details-modal#openModal" data-controller="details-modal" data-details-modal-target-value="#pages" class="link no-underline">Details</button>
      <% end %>
    <% end %>

    <%= render AhoyCaptain::TileComponent.new(title: 'Countries') do |component| %>
      <% component.with_display_links do %>
        <a href="<%= countries_path(search_params) %>" data-turbo-action="advance" data-turbo-frame="geography" class="link link-primary">Countries</a>
        <a href="<%= regions_path(search_params) %>" data-turbo-action="advance" data-turbo-frame="geography" class="link link-primary">Regions</a>
        <a href="<%= cities_path(search_params) %>" data-turbo-action="advance" data-turbo-frame="geography" class="link link-primary">Cities</a>
      <% end %>
      <% component.with_statistic_display do %>
        <%= turbo_frame_tag :geography, src: countries_path(search_params) %>
      <% end %>
      <% component.with_details_cta do %>
        <button data-action="click->details-modal#openModal" data-controller="details-modal" data-details-modal-target-value="#geography" class="link no-underline">Details</button>
      <% end %>
    <% end %>

    <%= render AhoyCaptain::TileComponent.new(title: 'Devices') do |component| %>
      <% component.with_display_links do %>
        <a href="<%= devices_browsers_path(search_params) %>" data-turbo-action="advance" data-turbo-frame="devices" class="link link-primary">Browser</a>
        <a href="<%= devices_operating_systems_path(search_params) %>" data-turbo-action="advance" data-turbo-frame="devices" class="link link-primary">OS</a>
        <a href="<%= devices_device_types_path(search_params) %>" data-turbo-action="advance" data-turbo-frame="devices" class="link link-primary">Size</a>
      <% end %>
      <% component.with_statistic_display do %>
        <%= turbo_frame_tag :devices, src: devices_browsers_path(search_params) %>
      <% end %>
      <% component.with_details_cta do %>
        <button data-action="click->details-modal#openModal" data-controller="details-modal" data-details-modal-target-value="#devices" class="link no-underline">Details</button>
      <% end %>
    <% end %>
  </div>

  <div>

  </div>
</main>

<%= render AhoyCaptain::Filter::ModalComponent.new(title: "Filter by Page", id: "pageModal") do |modal| %>
  <% modal.with_modal_display do %>
    <%= render AhoyCaptain::Filter::SelectComponent.new(label: "Action", column: :route, url: filters_actions_path, predicates: [:in, :not_in]) %>
    <%= render AhoyCaptain::Filter::SelectComponent.new(label: "Entry page", column: :entry_page, url: filters_entry_pages_path, predicates: [:in, :not_in]) %>
    <%= render AhoyCaptain::Filter::SelectComponent.new(label: "Exit page", column: :exit_page, url: filters_exit_pages_path, predicates: [:in, :not_in]) %>
  <% end %>
<% end %>

<%= render AhoyCaptain::Filter::ModalComponent.new(title: "Filter by Country", id: "countryModal") do |modal| %>
  <% modal.with_modal_display do %>
    <%= render AhoyCaptain::Filter::SelectComponent.new(label: "Country", column: :country, url: filters_locations_countries_path, predicates: [:in, :not_in]) %>
    <%= render AhoyCaptain::Filter::SelectComponent.new(label: "Region", column: :region, url: filters_locations_regions_path, predicates: [:in, :not_in]) %>
    <%= render AhoyCaptain::Filter::SelectComponent.new(label: "City", column: :city, url: filters_locations_cities_path, predicates: [:in, :not_in]) %>
  <% end %>
<% end %>

<%= render AhoyCaptain::Filter::ModalComponent.new(title: "Filter by Source", id: "sourceModal") do |modal| %>
  <% modal.with_modal_display do %>
    <%= render AhoyCaptain::Filter::SelectComponent.new(label: "Source", column: :referring_domain, url: filters_sources_path, predicates: [:in, :not_in]) %>
  <% end %>
<% end %>

<%= render AhoyCaptain::Filter::ModalComponent.new(title: "Filter by Screen size", id: "screenModal") do |modal| %>
  <% modal.with_modal_display do %>
    <%= render AhoyCaptain::Filter::SelectComponent.new(label: "Screen size", column: :device_type, url: filters_screens_path, predicates: [:in, :not_in]) %>
  <% end %>
<% end %>

<%= render AhoyCaptain::Filter::ModalComponent.new(title: "Filter by Browser", id: "osModal") do |modal| %>
  <% modal.with_modal_display do %>
    <%= render AhoyCaptain::Filter::SelectComponent.new(label: "Operating System", column: :os, url: filters_names_path, predicates: [:in, :not_in]) %>
    <%= render AhoyCaptain::Filter::SelectComponent.new(label: "Operating System Version", column: :os_version, url: filters_versions_path, predicates: [:in, :not_in]) %>
  <% end %>
<% end %>

<%= render AhoyCaptain::Filter::ModalComponent.new(title: "Filter by Campaign", id: "utmModal") do |modal| %>
  <% modal.with_modal_display do %>
    <%= render AhoyCaptain::Filter::SelectComponent.new(label: "UTM Medium", column: :utm_medium, url: filters_utm_mediums_path, predicates: [:in, :not_in]) %>
    <%= render AhoyCaptain::Filter::SelectComponent.new(label: "UTM Source", column: :utm_source, url: filters_utm_sources_path, predicates: [:in, :not_in]) %>
    <%= render AhoyCaptain::Filter::SelectComponent.new(label: "UTM Campaign", column: :utm_campaign, url: filters_utm_campaigns_path, predicates: [:in, :not_in]) %>
    <%= render AhoyCaptain::Filter::SelectComponent.new(label: "UTM Term", column: :utm_term, url: filters_utm_terms_path, predicates: [:in, :not_in]) %>
    <%= render AhoyCaptain::Filter::SelectComponent.new(label: "UTM Content", column: :utm_content, url: filters_utm_contents_path, predicates: [:in, :not_in]) %>
  <% end %>
<% end %>

<dialog id="detailsModal" class="modal">
  <div class="modal-box w-11/12 max-w-5xl">
    <%= turbo_frame_tag :details %>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
