<%= turbo_frame_tag :stats do %>
  <dl class="grid grid-cols-1 divide-y divide-base-200 overflow-hidden rounded-lg grid-cols-2 md:grid-cols-6 md:divide-y-0 -mt-4 mb-4">
    <a  href="<%= stats_unique_visitors_url(search_params) %>" data-turbo-frame="chart">
      <dt class="text-base font-normal text-base-content">Unique Visitors</dt>
      <dd class="mt-1 flex items-baseline justify-between md:block lg:flex">
        <div class="flex items-baseline text-2xl font-semibold text-accent-content">
          <%= number_with_delimiter @presenter.unique_visitors %>
        </div>
      </dd>
    </a>
    <a href="<%= stats_total_visits_path(search_params) %>" data-turbo-frame="chart">
      <dt class="text-base font-normal text-base-content">Total Visits</dt>
      <dd class="mt-1 flex items-baseline justify-between md:block lg:flex">
        <div class="flex items-baseline text-2xl font-semibold text-accent-content">
          <%= number_with_delimiter @presenter.total_visits %>
        </div>
      </dd>
    </a>
    <a href="<%= stats_total_pageviews_path(search_params) %>" data-turbo-frame="chart">
      <dt class="text-base font-normal text-base-content">Total Pageviews</dt>
      <dd class="mt-1 flex items-baseline justify-between md:block lg:flex">
        <div class="flex items-baseline text-2xl font-semibold text-accent-content">
          <%= number_with_delimiter @presenter.total_pageviews %>
        </div>
      </dd>
    </a>
    <a href="<%= stats_views_per_visits_path(search_params) %>" data-turbo-frame="chart">

      <dt class="text-base font-normal text-base-content">Views per visit</dt>
      <dd class="mt-1 flex items-baseline justify-between md:block lg:flex">
        <div class="flex items-baseline text-2xl font-semibold text-accent-content">
          <%= number_with_delimiter @presenter.views_per_visit %>
        </div>
      </dd>
    </a>
    <a href="<%= stats_bounce_rates_path(search_params) %>" data-turbo-frame="chart">

      <dt class="text-base font-normal text-base-content">Bounce rate</dt>
      <dd class="mt-1 flex items-baseline justify-between md:block lg:flex">
        <div class="flex items-baseline text-2xl font-semibold text-accent-content">
          <%= number_with_delimiter @presenter.bounce_rate %>
        </div>
      </dd>
    </a>
    <a href="<%= stats_visit_durations_path(search_params) %>" data-turbo-frame="chart">

      <dt class="text-base font-normal text-base-content">Visit duration</dt>
      <dd class="mt-1 flex items-baseline justify-between md:block lg:flex">
        <div class="flex items-baseline text-2xl font-semibold text-accent-content">
          <%= @presenter.visit_duration %>
        </div>
      </dd>
    </a>
  </dl>
  <%= turbo_frame_tag :chart, src: stats_unique_visitors_path(search_params) do %>
  <% end %>
<% end %>
