<a href="<%= @url %>" class="relative px-4 md:px-6 w-1/2 my-4 lg:w-auto group select-none cursor-pointer lg:border-l border-gray-300"  data-turbo-frame="chart">
  <div>
    <div class="text-xs font-bold tracking-wide text-gray-500 uppercase dark:text-gray-400 whitespace-nowrap flex w-content border-b group-hover:text-indigo-700 dark:group-hover:text-indigo-500 border-transparent tooltip"  data-active-links-target="link" data-tip="<%= tooltip %>"><%= @label %></div>
    <div class="my-1 space-y-2">
      <div>
        <span class="flex items-center justify-between whitespace-nowrap">
          <p class="font-bold text-xl dark:text-gray-100" id="visits"><%= formatted(value.current) %></p>
        </span>
        <p class="text-xs dark:text-gray-100"><%= range_string %></p>
      </div>
      <div>
        <p class="font-bold text-xl text-gray-500 dark:text-gray-400"><%= formatted(value.compared_to) %></p>
        <p class="text-xs text-gray-500 dark:text-gray-400"><%= compare_range_string %></p>
      </div>
    </div>
  </div>
</a>
