<a href="<%= @url %>" class="hover:text-primary text-base-content link no-underline" data-turbo-frame="chart">
  <dt class="font-normal <%= 'text-primary' if @selected %>" data-active-links-target="link" id="<%= @label.tableize.parameterize.underscore %>"><%= @label %></dt>
  <dd class="mt-1 flex items-baseline justify-between md:block lg:flex" data-active-links-target="alt" data-active-links-value="#<%= @label.tableize.parameterize.underscore %>">
    <div class="flex items-baseline text-2xl font-semibold">
      <%= view_context.public_send(@formatter, @value.current) %>
      <span class="pl-2 text-xs dark:text-gray-100">
        <span class="<%= klass %> font-bold"><%= arrow %></span>
        <%= number_to_percentage percentage, precision: 1 %>
      </span>
    </div>
  </dd>
</a>
