<%= turbo_frame_tag :chart do %>
  <div class="flex justify-end gap-3 items-center">
    <a href="<%= export_path(request.query_parameters) %>" class="link text-sm" target="_blank" data-turbo-frame="false">Download</a>
    <%= form_with url: url_for(params.permit!), method: :get, data: { controller: "interval" } do %>
      <%= select_tag :interval, options_for_select(available_intervals.collect { |interval| [interval.titleize, interval] }, selected: selected_interval), class: "select text-primary select-sm w-full max-w-sm", 'data-action': "change->interval#handleChange" %>
    <% end %>
  </div>
  <div>
    <canvas  style="height:300px;width:100%;" data-controller="line-chart" data-line-chart-label-value="<%= @label %>" data-line-chart-data-value="<%= @stats.to_json %>"></canvas>
  </div>
<% end %>
