<div data-controller="combobox"
     data-combobox-single-option-value="<%= !@multiple %>"
     data-combobox-placeholder-value="Select an option..."
     data-combobox-is-disabled-value="false"
     data-combobox-url-value="<%= @url %>"
     data-combobox-disabled-value="<%= @disabled %>"
     data-combobox-query-value="q[<%= @column %>_i_cont]"
     data-combobox-selected-value="<%= @value.map { |value| { text: value, value: value } }.to_json %>"
     class=" w-full "
>
  <div data-action="click->combobox#toggleOpen" data-combobox-target="box"
       class="
        bg-gray-900 ring-0  focus-within:ring-0 focus-within:ring-0 focus:ring-0 focus:outline-none w-full rounded-md py-2 text-sm
        w-full"
       data-combobox-box-open-class="border-secondary-500 ring-1 ring-secondary-500">
    <select data-combobox-target="select" style="display:none;"
            data-predicate-select-target="select"
            name="<%= @name %>"
            id="<%= @select_html[:id] || "filter_#{@name}" %>"
            <% @select_html.each do |k,v| %><%=k %>="<%=v %>"<% end %>
    ><% @value.each do |value| %><option value="<%= value %>" selected><%= value %></option><% end %></select>
    <div data-combobox-target="selected" class="px-2" style="display:none;"></div>
    <input data-combobox-target="input"
           data-action="input->combobox#onInput"
           class="input input-sm input-ghost w-full inline-block rounded-md focus:outline-none focus:ring-0 focus:bg-gray-900"
           type="text"
           placeholder="Select an option...">
  </div>
  <ul data-combobox-target="list"
      class="z-50 absolute mt-1 max-h-60 w-full overflow-auto rounded-md py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm bg-gray-800 text-gray-350"
      style="display: none;">
  </ul>
</div>
