<div class="max-w-6xl flex justify-between sticky top-0 min-h-sm z-[99999] bg-base-300 py-4">
  <div class="flex items-center">
    <a href="/">
      <img src="<%= image_path "ahoy_captain/logo.png" %>" alt="AhoyCaptainLogo" class='w-16 h-16 rounded-full'>
    </a>
    <% if params[:q] %>
      <%= render AhoyCaptain::Filter::TagContainerComponent.new(filters: params.require(:q)) %>
    <% else %>
      <%= realtime_update %>
    <% end %>
  </div>
  <div class="flex flex-row-reverse col-span-2 items-center">
    <%= render AhoyCaptain::DropdownLinkComponent.new(title: params[:start_date] ? "Custom Range" : (AhoyCaptain.config.ranges.find(params[:period]).try(:label) || "Period"), classes: 'btn btn-base-100 no-underline text-base-content hover:text-base-content hover:bg-neutral') do |dropdown| %>
      <% dropdown.with_option do %>
        <% AhoyCaptain.config.ranges.each do |param, range| %>
          <a class='link no-underline' href="<%= request.path %>?<%= request.query_parameters.merge("period" => param).to_query %>"><%= range.label %></a>
        <% end %>

        <button class='link no-underline'>Custom range</button>
      <% end %>
    <% end %>
    <%= render AhoyCaptain::DropdownButtonComponent.new(title: 'Filter') do |dropdown| %>
      <% dropdown.with_header_icon do %>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" class="-ml-1 mr-1 h-4 w-4 md:h-4 md:w-4">
          <path fill-rule="evenodd" d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z" clip-rule="evenodd"></path>
        </svg>
      <% end %>
      <% dropdown.with_option do %>
        <button onClick="pageModal.showModal()" class='link no-underline'>Page</button>
        <button onClick="countryModal.showModal()" class='link no-underline'>Geography</button>
        <button onClick="screenModal.showModal()" class='link no-underline'>Screen</button>
        <button onClick="osModal.showModal()" class='link no-underline'>Operating System</button>
        <button onClick="utmModal.showModal()" class='link no-underline'>UTM Tags</button>
      <% end %>
    <% end %>
  </div>
</div>
