<div class="max-w-6xl flex justify-between sticky top-0 min-h-sm z-[99999] py-4 bg-base-100">
  <div class="flex items-center">
    <a href="/">
      <img src="<%= image_path "ahoy_captain/logo.png" %>" alt="AhoyCaptainLogo" class='w-16 h-16 rounded-full'>
    </a>
    <% if tag_list_hidden? %>
      <%= render AhoyCaptain::Filter::TagContainerComponent.new %>
    <% else %>
      <%= realtime_update %>
    <% end %>
  </div>
  <div class="flex flex-row-reverse col-span-2 items-center gap-3">
    <% if helpers.compare_mode? %>

      <a class="btn btn-base-100 no-underline hover:bg-base-100 btn-sm" href="<%= AhoyCaptain::Engine.routes.url_helpers.root_path(**helpers.search_params.except('comparison')) %>">Disable Comparison</a>
    <% end %>
      <%= render AhoyCaptain::DropdownLinkComponent.new(title: params[:start_date] ? "Custom Range" : (AhoyCaptain.config.ranges.find(params[:period]).try(:label) || "Period"), classes: 'btn btn-sm btn-base-100 no-underline hover:bg-base-100') do |dropdown| %>
        <% dropdown.with_option do %>
          <% AhoyCaptain.config.ranges.each do |param, range| %>
            <a class='link no-underline' href="<%= request.path %>?<%= request.query_parameters.except("start_date", "end_date").merge("period" => param).to_query %>"><%= range.label %></a>
          <% end %>

          <a class='link no-underline ' href='#' onclick="event.preventDefault(); customRangeModal.showModal()">Custom range</a>
          <a class='link no-underline ' href='<%= AhoyCaptain::Engine.routes.url_helpers.root_path(**helpers.search_params.merge(comparison: !helpers.compare_mode?)) %>'><%= helpers.compare_mode? ? "Disable Compare" : "Compare" %></a>
        <% end %>
      <% end %>



    <%= render AhoyCaptain::Filter::DropdownComponent.new(filters: filters) %>

  </div>
</div>
