<% parsed = ::AhoyCaptain::FilterParser.parse(request) %>
<% size = parsed.values.map(&:values).flatten.size %>

<div class="max-w-6xl flex justify-between sticky top-0 min-h-sm z-[99999] bg-base-300 py-4">
  <div class="flex items-center">
    <a href="/">
      <img src="<%= image_path "ahoy_captain/logo.png" %>" alt="AhoyCaptainLogo" class='w-16 h-16 rounded-full'>
    </a>
    <% if params[:q] && size < 2 %>
      <%= render AhoyCaptain::Filter::TagContainerComponent.new %>
    <% else %>
      <%= realtime_update %>
    <% end %>
  </div>
  <div class="flex flex-row-reverse col-span-2 items-center">
    <%= render AhoyCaptain::DropdownLinkComponent.new(title: params[:start_date] ? "Custom Range" : (AhoyCaptain.config.ranges.find(params[:period]).try(:label) || "Period"), classes: 'btn btn-base-100 no-underline text-base-content hover:text-base-content hover:bg-base-100') do |dropdown| %>
      <% dropdown.with_option do %>
        <% AhoyCaptain.config.ranges.each do |param, range| %>
          <a class='link no-underline' href="<%= request.path %>?<%= request.query_parameters.except("start_date", "end_date").merge("period" => param).to_query %>"><%= range.label %></a>
        <% end %>

        <a class='link no-underline' href='#' onclick="event.preventDefault(); customRangeModal.showModal()">Custom range</a>
      <% end %>
    <% end %>
    <% title = size >= 2 ? "#{size} filters" : "Filter" %>
    <%= render AhoyCaptain::DropdownButtonComponent.new(title: title) do |dropdown| %>
      <% dropdown.with_header_icon do %>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" class="-ml-1 mr-1 h-4 w-4 md:h-4 md:w-4">
          <path fill-rule="evenodd" d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z" clip-rule="evenodd"></path>
        </svg>
      <% end %>
      <% dropdown.with_option do %>

        <% if parsed.size >= 2 %>

          <div class="border-t border-gray-200 rounded-t-none	 px-3 md:px-4 sm:py-2 py-3 text-sm leading-tight flex items-center justify-between">
            <a class="group flex w-full justify-between items-center" onclick="modals.classList.remove('hidden');" href="javascript:;">Add a filter</a>
          </div>
          <div class="flex flex-row-reverse hidden" id="modals">
            <button onClick="pageModal.showModal()" class='link no-underline'>Page</button>
            <button onClick="countryModal.showModal()" class='link no-underline'>Geography</button>
            <button onClick="screenModal.showModal()" class='link no-underline'>Screen</button>
            <button onClick="osModal.showModal()" class='link no-underline'>Operating System</button>
            <button onClick="utmModal.showModal()" class='link no-underline'>UTM Tags</button>
          </div>

          <% parsed.each do |_, item| %>
            <div class="px-3 md:px-4 sm:py-2 py-3 text-sm leading-tight flex items-center justify-between ">
              <a title="Edit filter: <%= item.title %>" class="group flex w-full justify-between items-center"
                 href="javascript:;" style="width: calc(100% - 1.5rem);" onclick="<%= item.modal %>.showModal()">
                <span class="inline-block w-full truncate"><%= item.title %> is <%= item.values.to_sentence(last_word_connector: " or ") %></span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" class="w-4 h-4 ml-1 cursor-pointer group-hover:text-indigo-700 dark:group-hover:text-indigo-500"><path d="M5.433 13.917l1.262-3.155A4 4 0 017.58 9.42l6.92-6.918a2.121 2.121 0 013 3l-6.92 6.918c-.383.383-.84.685-1.343.886l-3.154 1.262a.5.5 0 01-.65-.65z"></path><path d="M3.5 5.75c0-.69.56-1.25 1.25-1.25H10A.75.75 0 0010 3H4.75A2.75 2.75 0 002 5.75v9.5A2.75 2.75 0 004.75 18h9.5A2.75 2.75 0 0017 15.25V10a.75.75 0 00-1.5 0v5.25c0 .69-.56 1.25-1.25 1.25h-9.5c-.69 0-1.25-.56-1.25-1.25v-9.5z"></path></svg>
              </a>
              <a title="Remove filter: <%= item.title %>" class="ml-2 cursor-pointer hover:text-indigo-700 dark:hover:text-indigo-500" href="<%= item.url %>">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" class="w-4 h-4"><path d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z"></path></svg>
              </a>
            </div>
          <% end %>

          <div class="border-t border-gray-200 rounded-t-none	 px-3 md:px-4 sm:py-2 py-3 text-sm leading-tight flex items-center justify-between">
            <a class="group flex w-full justify-between items-center" href="<%= AhoyCaptain::Engine.app.url_helpers.root_path %>">Clear all filters</a>
          </div>
        <% else %>
          <button onClick="pageModal.showModal()" class='link no-underline'>Page</button>
          <button onClick="countryModal.showModal()" class='link no-underline'>Geography</button>
          <button onClick="screenModal.showModal()" class='link no-underline'>Screen</button>
          <button onClick="osModal.showModal()" class='link no-underline'>Operating System</button>
          <button onClick="utmModal.showModal()" class='link no-underline'>UTM Tags</button>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
