<div class="max-w-6xl flex justify-between sticky top-0 min-h-sm z-[99999] py-4 bg-base-100">
  <div class="flex items-center">
    <a href="/">
      <img src="<%= image_path "ahoy_captain/logo.png" %>" alt="AhoyCaptainLogo" class='w-16 h-16 rounded-full'>
    </a>
    <% if params[:q] && size < 4 %>
      <%= render AhoyCaptain::Filter::TagContainerComponent.new %>
    <% else %>
      <%= realtime_update %>
    <% end %>
  </div>
  <div class="flex flex-row-reverse col-span-2 items-center">
    <%= render AhoyCaptain::DropdownLinkComponent.new(title: params[:start_date] ? "Custom Range" : (AhoyCaptain.config.ranges.find(params[:period]).try(:label) || "Period"), classes: 'btn btn-base-100 no-underline hover:bg-base-100') do |dropdown| %>
      <% dropdown.with_option do %>
        <% AhoyCaptain.config.ranges.each do |param, range| %>
          <a class='link no-underline' href="<%= request.path %>?<%= request.query_parameters.except("start_date", "end_date").merge("period" => param).to_query %>"><%= range.label %></a>
        <% end %>

        <a class='link no-underline ' href='#' onclick="event.preventDefault(); customRangeModal.showModal()">Custom range</a>
      <% end %>
    <% end %>

    <%= render AhoyCaptain::Filter::DropdownComponent.new(filters: filters) %>
  </div>
</div>
