<div class="flex flex-col min-h-[380px] w-full pt-4">
  <div class="flex text-sm font-bold text-base-content mb-4">
    <span class="grow"><%= category_name %></span>
    <span ><%= unit_name %></span>
     <% if additional_cols.include?(:percent_total) %>
      <span class="w-8 ml-8 text-right">%</span>
    <% end %>
     <% if additional_cols.include?(:total) %>
      <span class="w-8 ml-8 text-right">Total</span>
    <% end %>
     <% if additional_cols.include?(:conversion_rate) %>
      <span class="w-8 ml-8 text-right">CR</span>
    <% end %>
  </div>
  <div class='min-h-[420px]'>
    <div class="grow">
      <% if items.respond_to?(:each) && items.any? %>
        <% items.each do |item| %>
          <div class='leading-10 flex relative'>
            <progress class='progress-primary bg-base-100 h-8 grow' value="<%= item.unit_amount %>" max="<%= max_amount %>">
            </progress>
            <span class="grow text-elipsis overflow-hidden absolute left-4 bottom-3 h-8 text-base-content">
              <%= item.display_name %>
            </span>
            <span class="w-8 ml-8 text-right">
              <%= render AhoyCaptain::TooltipComponent.new(amount: item.unit_amount) %>
            </span>

            <% if additional_cols.include?(:percent_total) %>
              <span class="w-8 ml-8 text-right"><%= percent_total(item) %></span>
            <% end %>
            <% if additional_cols.include?(:total) %>
              <span class="w-8 ml-8 text-right">
                <%= render AhoyCaptain::TooltipComponent.new(amount: item.total) %>
              </span>
            <% end %>
            <% if additional_cols.include?(:conversion_rate) %>
              <span class="w-8 ml-8 text-right">
                <%= item.conversion_rate * 100.0 %>%
              </span>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <p>No data found</p>
      <% end %>
    </div>
  </div>
</div>
