<div class="flex flex-col min-h-[380px] w-full pt-4">
  <div class="flex text-sm text-secondary-content mb-4">
    <span class="grow"><%= category_name %></span>
    <span><%= unit_name %></span>
  </div>
  <div class='min-h-[420px]'>
    <div class="grow">
      <% items.each do |item| %>
        <div class='leading-10 flex relative'>
          <progress class='progress-primary bg-base-100 h-8 grow' value="<%= item.unit_amount %>" max="<%= max_amount %>">
          </progress>
          <span class="grow text-elipsis overflow-hidden absolute left-4 bottom-0.5">
            <%= item.display_name %>
          </span>
          <span class="w-8 ml-8 text-right">
            <%= render AhoyCaptain::TooltipComponent.new(item: item) %>
          </span>
        </div>
      <% end %>
    </div>
  </div>
</div>
