<div class='<%= 'lg:col-span-2' if wide %> col-span-1 p-4 bg-base-200 rounded-md p-8 mx-4 lg:mx-0'>
  <div class="flex justify-between">
    <h5 class='text-lg text-accent-content'><%= title %></h5>
    <div class="flex self-center gap-3">
      <%= display_links %>
    </div>
  </div>
  <%= statistic_display %>
  <div class="flex justify-center">
    <%= details_cta %>
  </div>
</div>