<%= turbo_frame_tag :goals do %>
  <ul>
    <% @presenter.goals.each do |goal| %>
      <li><%= goal.name %>: <%= goal.total %> count, <%= goal.uniques %> uniques (<%= goal.conversion_rate %>%)</li>
    <% end %>
  </ul>
<% end %>
