<!DOCTYPE html>
<html>
<head>
  <title>Ahoy Captain</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="creator" content="joshmn">
  <meta name="author" content="joshmn">
  <meta name="contact" content="https://github.com/joshmn">
  <meta name="twitter:creator" content="joshmn">
  <meta name="twitter:site" content="josh.mn">
  <meta name="og:site" content="josh.mn">
  <meta name="description" content="Ahoy Captain">
  <meta name="og:description" content="Ahoy Captain">
  <link rel="icon" type="image/png" sizes="32x32" href="<%= image_path "ahoy_captain/favicon-32x32.png" %>">
  <link rel="apple-touch-icon" sizes="180x180" href="<%= image_path "ahoy_captain/apple-touch-icon.png" %>">
  <link rel="icon" type="image/png" sizes="16x16" href="<%= image_path "ahoy_captain/favicon-16x16.png" %>">
  <link rel="mask-icon" href="<%= image_path "ahoy_captain/safari-pinned-tab.svg" %>" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <link href="https://cdn.jsdelivr.net/npm/daisyui@3.5.0/dist/full.css" rel="stylesheet" type="text/css"/>
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://unpkg.com/slim-select@latest/dist/slimselect.css" rel="stylesheet" />
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= ahoy_captain_importmap_tags %>
</head>

<body data-theme='<%= AhoyCaptain.config.theme %>' class='bg-base-300'>
  <%= yield %>
  <div class="flex justify-center bg-base-300 border-t-4 border-base-100 py-4">
    <div class="flex justify-around space-x-4 my-4">
      <h5>Powered by Ahoy Captain v<%= AhoyCaptain::VERSION %><h5>
      <a href='https://github.com/joshmn/ahoy_captain' target=”_blank”>
        <img src="<%= image_path "ahoy_captain/github-mark.png" %>" alt="Github" class='w-8 h-8 bg-base-content rounded-full hover:bg-accent-content'>
      </a>
    </div>
  </div>
</body>
</html>
