<div class="dropdown dropdown-end">
  <label
    tabindex="0"
    class="btn btn-sm btn-ghost dark:hover:bg-neutral flex"
  >
    <%= header_icon %>
    <span><%= title %></span>
  </label>

  <ul class="w-72 dropdown-content z-[1] p-2 shadow bg-base-100 rounded-box" data-controller='toggle' data-toggle-enable-value="<%= advanced_filter_menu? %>">
    <% if advanced_filter_menu? %>
      <div id="advanced-filters" class="w-full text-sm leading-tight" >
        <button class='w-full cursor-pointer block pl-4 pt-1 text-left hover:text-primary' data-action="click->toggle#trigger">+ Add filter</button>
        <div class="divider my-1"></div>
        <% filters.each do |_, filter| %>
          <li class='flex flex-inline px-4 items-center' data-toggle-target='toggleable'>
            <button title="Edit filter: <%= filter.title %>"
                    class="flex w-full justify-between link no-underline items-center group <% if filter.modal %>cursor-pointer<% else %>cursor-text<% end %> text-left"
                    onclick="<% if filter.modal %><%= filter.modal %>.showModal() <% end %>">
              <span class="truncate w-48  ">
                <%= filter.column.titleize %> <%= filter.predicate.titleize %>
                <%= filter.values.to_sentence %>
              </span>
              <% if filter.modal %>
              <span class="group-hover:text-primary hover:text-primary ">
                <%= edit_icon %>
              </span>
              <% end %>
            </button>
            <a title="Remove filter: <%= filter.title %>"
               class="hover:text-primary link no-underline pl-2" href="<%= filter.url %>">
              <%= remove_icon %>
            </a>
          </li>
          <div class="divider my-1" data-toggle-target='toggleable'></div>
        <% end %>
        <li data-toggle-target='toggleable'>
          <a class="block mx-auto pl-4 pb-1 " href="<%= AhoyCaptain::Engine.routes.url_helpers.root_path %>">Clear all filters</a>
        </li>
      </div>
    <% end %>

    <ul id="core-filters" class="menu <%= 'hidden' if advanced_filter_menu? %> pt-0" data-toggle-target='toggleable'>
      <% AhoyCaptain.config.filters.each do |label, filter_group| %>
        <li><button onClick="<%= filter_group.modal_name %>.showModal()" class='link no-underline' data-action="click->toggle#trigger"><%= label %></button></li>
      <% end %>
      <li><button onClick="customPropertyFilterModal.showModal()" class='link no-underline' data-action="click->toggle#trigger">Property</button></li>
    </ul>
  </ul>
</div>
