<fieldset class="flex space-x-4 items-end" data-controller="predicate-select">
  <div class="flex flex-col w-[20%]">
    <label class="label"><%= label %></label>
    <select class='select select-bordered' data-action='change->predicate-select#handleChange'>
      <% @predicates.each do |predicate| %>
        <option value="<%= option_value(predicate) %>" <%= 'selected' if selected_predicate?(predicate) %>>
          <%= predicate_label(predicate) %>
        </option>
      <% end %>
    </select>
  </div>

  <select
    data-predicate-select-target="select"
    data-controller="search-select"
    class='w-[50%] border-base-content border-opacity-20 rounded-lg min-h-[3rem]'
    name="<%= column_name_with_predicate %>"
    <% if multiple %>multiple<% end %>
    data-search-select-query-value="q[<%= column %>_i_cont]"
    data-search-select-url-value="<%= url %>"
    data-search-select-selected-value="<%= values %>"
  ></select>
</fieldset>
