<div class="bg-base-200 py-2 px-4 mx-2 flex items-center text-base-content" data-controller="filter--item" data-filter--item-modal-value="<%= tag_item.modal %>">
  <span data-action='click->filter--item#openModal'>
    <%= tag_item.column.titleize %> <%= tag_item.predicate.titleize %>
    <span class="font-bold">
      <%= tag_item.label %>
    </span>
  </span>
  <a class="hover:text-primary" href="<%= tag_item.url %>">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" class="w-4 h-4">
      <path d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z"></path>
    </svg>
  </a>
</div>
